
/*Comon styles*/
a {
text-decoration: none;
}

button {
    cursor: pointer;
}

ul, 
ol {
    list-style-type: none;
}
img {
    display: block;
}

body{
font-family: "Roboto", sans-serif;
background: #fff;
}
/*/Comon styles*/

/*Page header styles*/
.logo{
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.logo-style{
color: #4d5ae5;
}

.menu-link{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;    
}
.menu-link:hover, 
.menu-link:focus{
    color: #404bbf;
}
.contacts{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contacts:hover,
.contacts:focus{
    color: #404bbf;
}
/*/Page header styles*/

/* Hero Sections Styles*/
h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
       
    }
 button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor:pointer;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
    }

    button:hover,
    button:focus{
            background: #404bbf;
    }
/* /Hero Sections Styles*/

 .menu-benefits-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.menu-benefits-text{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2e2f42;
}

.position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.name{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.portfolio-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-text{
 font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;   
}
